
<div class="flex flex-col w-[26rem] h-[30rem] mt-20 rounded-xl bg-gray-100 shadow-lg border border-slate-400 overflow-hidden animate-pulse">
    <!--    bg image -->
     <div class="relative h-2/3">
            <div class="bg-gray-600 w-full h-full animate-pulse"></div>
        </div>
    
        
    <!--   text --> 
        <div class="w-full h-2/3 ">
          <div class="p-10">
            
            <h5 class="font-bold text-xl text-gray-900 mb-2 h-3 bg-gray-500 animate-pulse"></h5>
           
            <p class="text-gray-700 text-base h-2 w-full overflow-hidden bg-gray-400 animate-pulse mt-2"></p>
             <p class="text-gray-700 text-base h-2 w-2/3 overflow-hidden bg-gray-400 animate-pulse mt-2"></p>
             <p class="text-gray-700 text-base h-2 w-full overflow-hidden bg-gray-400 animate-pulse mt-2"></p>
             <p class="text-gray-700 text-base h-2 w-full overflow-hidden bg-gray-400 animate-pulse mt-2"></p>
             <div class=" block h-10 w-2/3 m-auto mt-16 bg-gray-600 animate-pulse "></div>
        </div>
          
          </div>
      
    </div>    